body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eff0f3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure the body takes up at least the height of the viewport */
}

h1 {
    font-size: 40px;
}

.menu-toggle {
    display: none;
}

nav {
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
    margin-top: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #7fbfff;
    opacity: 80%;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 20px;
    margin-left: 40px;
}


.container-fluid {
    margin-left: 40px;
    margin-top: -35px
}

.container-fluid h1 {
    color: #0077cc;
}

.search-container {
    text-align: left;
    margin-bottom: 20px;
    margin-top: -20px;
}

.form-control {
    padding: 10px;
    width: 250px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0077cc;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #7fbfff;
}

#search-results {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map-google {

    margin-top: -285px;
    margin-left: 530px;
}

#googleMap {
    background-color: rgba(139, 197, 255, 0.5);
    /* Just for showing where the map is, you can remove this if not needed */
    max-width: 850px;
    width: 100%;
    height: 445px;
    margin-top: 20px;
}

#output {
    background-color: #0077cc;
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
}

.alert-info,
.alert-danger {
    padding: 10px;
    color: #00529B;
    background-color: #BDE5F8;
    margin-top: 10px;
}

.alert-danger {
    color: #D8000C;
    background-color: #FFBABA;
}

footer {
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 15px;
    width: 100%;
    bottom: 0;
}

/* MEDIA QUERIES  */
/* Regular styles */

@media screen and (min-width: 481px) and (max-width: 768px) {

    .menu-toggle {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        position: absolute;
        top: 1em;
        right: 1em;
        z-index: 1000;
    }

    .menu-toggle:hover {
        background: #BDE5F8;
    }

    .menu-toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #0077cc;
        margin: 5px 0;
        transition: 0.4s;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    nav ul {
        display: none;
        width: 100%;
    }

    nav ul li a {
        font-size: 15px;
        margin-right: 0;

    }

    nav.collapsed ul {
        display: flex;
        flex-direction: column;
        margin-top: 45px;
    }

    nav a {
        display: block;
        padding: 10px;
        margin: 0;
    }

    .menu-toggle {
        display: block;
    }

    .container {
        max-width: 90%;
        margin: 10px auto;
        position: relative;
    }

    .container-fluid {
        margin-top: -25px;

    }

    .container-fluid h1 {
        font-size: 30px;
    }


    .search-container {
        margin-top: -10px;
        width: 80%;
        margin-left: 40px;
    }

    .form-control {
        width: 100%;

    }

    .btn {
        width: 50%;
        margin-left: 100px;
        margin-top: 20px;
    }

    .map-google {
        margin-top: auto;
        margin-left: auto;
        width: 80%;
    }

    #googleMap {
        max-width: 100%;
        height: 300px;
        margin-left: -50px;
    }

    #output {
        max-width: 90%;
    }

    footer {
        position: static;
    }
}

/* FIRST CODE CSS STYLES */
/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #eff0f3;
}

header {
    text-align: center;
    padding: 20px 0;
}

nav {
    text-align: center;
    margin-top: 30px;
    margin-bottom: -20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #7fbfff;
    opacity: 80%;
    color: #fff;
}

.container-fluid {
    max-width: 600px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0077cc;
    text-align: center;
}

.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #0077cc;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #7fbfff;
}

#googleMap {
    max-width: 850px;
    width: 100%;
    height: 500px;
    margin: 20px auto;
}

footer {
    color: #000;
    text-align: center;
    padding: 10px 0;
    width: 100%;
} */